.app--tweet
  form(action='/', method='post')
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style='background-image: url(' + profileImg + ')')
        |
        textarea#tweet-textarea.circle--textarea--input(type='text',  name='tweetName', placeholder="What's happening?" value='')

        strong#tweet-char.app--tweet--char 280
      |
      .circle--fluid--cell.align-bottom
        button(class=['button-primary'] disabled) Tweet
