extends layout.pug
block content

  .bounds.app--body
    include partials/header.pug
    include partials/tweets.pug
    include partials/friends.pug
    include partials/messages.pug
    include partials/footer.pug

    
